@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

/* Apply Poppins globally */
body {
  font-family: 'Poppins', sans-serif;
}

/* Hide scrollbar for IE, Edge, and Firefox on both html and body */
html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

/* Hide scrollbar for Chrome, Safari, and Opera on both html and body */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
